
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Html Helpers Demo</h2>

@Html.Label("Add Employee", new { style="color:green"  })

@Html.TextBox("name", "", new { placeholder="Type employee name" })






