
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Error</h2>

<h3 class="text-danger">
   Internal server Error occurred. We will fix it soon. 
</h3>

<h3>
    by
    www.employemanagement.net
</h3>

